@charset "UTF-8";
/*
 * Standard Styles
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700");
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(to bottom right, #e3e0dd, #eee5da);
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

/*
 * More from me link 🔥
 */
.more {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 7px 21px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  /* -webkit-animation: reveal 5000ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
          animation: reveal 5000ms cubic-bezier(0.87, -0.41, 0.19, 1.44); */
}
.more::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 20%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  transition: max-width 0ms ease 250ms, background-color 250ms ease;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.more:hover::before {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 250ms ease;
}

@-webkit-keyframes reveal {
  0%, 90% {
    bottom: -30px;
  }
  100% {
    bottom: 15px;
  }
}

@keyframes reveal {
  0%, 90% {
    bottom: -30px;
  }
  100% {
    bottom: 15px;
  }
}